.item{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 100%;
  overflow-x: hidden;
}
.item img{
  width: 300px;
}

.carrossel{
  margin-top: 40px;
  margin-bottom: 30px;
  max-width: 70%;
  left: 15%;
}
.item2 img{
  width: 250px;
  margin-left: 20px;
}

/* REPONSIVE */
@media (max-width: 700px){

  section {
    display: flex;
    flex-wrap: wrap;
    width: 100px;
  }

}

